* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imgbox {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

#nav-bar {
  float: right;
}

li {
    list-style: none;
    padding-right: 15px;
}