@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rancho&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --charcoal: #264653;
  --persiangreen: #2a9d8f;
  --orangeyellow: #e9c46a;
  --sandy: #f4a261;
  --burnt: #e76f51;
}

body {
  overflow-x: hidden;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: white;
}

nav {
  position: fixed;
  z-index: 100;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 30px;
}

.logo {
  color: sandybrown;
  font-weight: 600;
  font-size: 2rem;
  text-shadow: 2px 2px black;
}

nav .nav-links ul {
  display: flex;
  flex-direction: row;
}

nav .nav-links ul li {
  padding: 0 4px;
  list-style: none;
  font-size: 2rem;
  text-shadow: 2px 2px black;
  color: sandybrown;
}

nav .nav-links ul li img {
  transform: scale(0.45);
}

li {
  list-style: none;
  padding-right: 15px;
  color: sandybrown;
}

section {
  max-width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

section img {
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  object-fit: cover;
  z-index: 1;
}

.text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 8vw;
  color: sandybrown;
  letter-spacing: 12px;
  position: absolute;
  top: 25vh;
  left: 33vw;
  text-align: center;
  text-shadow: 3px 4px black;
}

.text p {
  font-family: "Poppins", sans-serif;
  font-size: 2vw;
  color: sandybrown;
  letter-spacing: 12px;
  position: absolute;
  top: 52vh;
  left: 30vw;
  text-align: center;
  text-shadow: 2px 2px black;
  overflow: hidden;
  white-space: nowrap;
}

.text a {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: var(--burnt);
  letter-spacing: 2px;
  position: absolute;
  top: 63vh;
  left: 45vw;
  text-align: center;
  display: inline-block;
  padding: 8px 30px;
  background: white;
  font-style: 500;
  border-radius: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: solid;
  text-shadow: 1px 1px black;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 1.2em;
  color: var(--burnt);
  letter-spacing: 2px;
  position: absolute;
  top: 63vh;
  left: 45vw;
  text-align: center;
  display: inline-block;
  padding: 8px 30px;
  background: white;
  font-style: 500;
  border-radius: 40px;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: solid;
  text-shadow: 1px 1px black;
}

.plane {
  height: auto;
  width: auto;
  max-width: 10%;
  max-height: 10%;
  position: relative;
  left: 35%;
  top: 175px;
  transform: rotate(20deg);
}

.center-fit {
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}


#footer {
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0));
  color: white;
  position: fixed;
  z-index: 100;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  font-size: 15px;
}
